{% extends 'base.html' %}

{% block title %}
Delete Todo List
{% endblock %}

{% block content %}
<main>
    <div>
        <h1>Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Delete</button>
        </form>
    </div>
</main>
{% endblock %}
