{% extends 'base.html' %}

{% block title %}
TodoItem Search
{% endblock %}

{% block content %}
<main>
  <div>
    <h1>Search Todo Items</h1>
    <form action="{% url 'todo_item_search' %}" method="GET">
      <input type="text" name="search" placeholder="Search by task or category">
      <button type="submit">Search</button>
    </form>
    <ul>
      {% for todo_item in todo_items %}
        <li>{{ todo_item.task }}</li>
      {% empty %}
        <li>No items found.</li>
      {% endfor %}
    </ul>
  </div>
</main>
{% endblock %}
