{% extends 'base.html' %}

{% block title %}
Create a New To-Do List
{% endblock %}

{% block content %}
<main>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <input type="text" name="name" placeholder="Enter list name" required> {% endcomment %}
            <p><button type="submit">Create</button></p>
        </form>
    </div>
</main>
{% endblock %}
