{% extends 'base.html' %}

{% block title %}
Todo List Detail: {{ todo_list.name }}
{% endblock %}

{% block content %}
<main>
  <div>
    <h1>{{ todo_list.name }}</h1>

    <!-- Display upcoming tasks -->
    <h2>Upcoming Tasks</h2>
    <ul>
      {% for todo_item in upcoming_tasks %}
        <li>
          {{ todo_item.task }} - Due: {{ todo_item.due_date }}
          <a href="{% url 'todo_item_update' todo_item.id %}">Edit</a>
        </li>
      {% empty %}
        <li>No upcoming tasks.</li>
      {% endfor %}
    </ul>

    <!-- Display completed tasks -->
    <h2>Completed Tasks</h2>
    <ul>
      {% for todo_item in completed_tasks %}
        <li>
          {{ todo_item.task }} - Completed on: {{ todo_item.completed_date }}
          <a href="{% url 'todo_item_update' todo_item.id %}">Edit</a>
        </li>
      {% empty %}
        <li>No completed tasks.</li>
      {% endfor %}
    </ul>

  </div>
</main>
{% endblock %}
