{% extends 'base.html' %}

{% block title %}
Update list
{% endblock %}

{% block content %}
<main>
    <div>
        <h1>Update list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">Update</button></p>
        </form>
    </div>
</main>
{% endblock %}
