{% extends 'base.html' %}

{% block title %}
Update To-Do Item
{% endblock %}

{% block content %}
<main>
    <div>
        <h1>Update item</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <p><button type="submit">Update</button></p>
        </form>
    </div>
</main>
{% endblock %}
