{% extends 'base.html' %}

{% block title %}
    Todo Item Detail - {{ todo_item.task }}
{% endblock %}

{% block content %}
    <main>
        <div>
            <h1>Todo Item Detail - {{ todo_item.task }}</h1>
            <p><strong>Task:</strong> {{ todo_item.task }}</p>
            <p><strong>Due Date:</strong> {{ todo_item.due_date|date:'M d, Y' }}</p>
            <p><strong>Completed:</strong> {% if todo_item.is_completed %}Yes{% else %}No{% endif %}</p>
            <p><a href="{% url 'todo_item_update' todo_item.id %}">Edit</a></p>

            <h2>Delete Todo Item</h2>
            <p>Are you sure you want to delete "{{ todo_item.task }}"?</p>
            <form action="{% url 'todo_item_delete' todo_item.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
            </form>

            <p><a href="{% url 'todo_list_detail' todo_item.list.id %}">Back to Todo List</a></p>
        </div>
    </main>
{% endblock %}
<!-- New addition to base.html-->
