{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Django-One-Shot{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header> <!--delete down to /header is new addition-->
      <nav>
        <ul>
            <li><a href="{% url 'todo_list_list' %}">Home</a></li>
            <li><a href="{% url 'todo_item_create' %}">Create a new Item</a></li>
            <li><a href="{% url 'todo_list_create' %}">Create a new List</a></li>
            <li><a href="{% url 'todo_item_search' %}">TodoItem Search</a></li>




          <!-- Add more links as needed -->
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock content %}
  <footer>
    <p>&copy; {% now "Y" %} Project- Django One Shot. All rights reserved.</p>
  </footer>
</body>
</html>
