/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); */

/* Set all elements to use the Open Sans font */
body, input, textarea, button, select, footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Set the background color of all pages */
html, body {
  background-color: #F2F2F2;
}

main {
  width: 60%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 12px 12px rgba(100, 255, 100, .3);
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: .25em .5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Set the width on all tables */
table {
  width: 100%;
}


/* Adjustments for the footer */
footer {
    text-align: center; /* Centers the text horizontally */
    margin-top: 20px; /* Adds some space at the top */
    padding: 10px 0; /* Adds padding for better spacing */
    background-color: #f0f0f0; /* Example background color */
    font-family: 'Open Sans', sans-serif; /* Apply Open Sans font */
    font-size: 16px; /* Font size */
}

footer p {
    margin: 0; /* Removes default margin */
}

/*New addition to base.html below

/* Navbar styling */
.navbar {
    background-color: #333; /* Dark background color */
    overflow: hidden;
}

  /* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

  /* Navbar links on hover */
.navbar a:hover {
    background-color: #ddd; /* Light background color on hover */
    color: black;
}

  /* Active/current link */
.navbar a.active {
    background-color: #555; /* Darker background color when active */
}

  /* Clear floats after the navbar */
.navbar::after {
    content: "";
    clear: both;
    display: table;
}


/*TodoItem delete styling

/* Delete button styling */
.delete-button {
    background-color: #f44336; /* Red background */
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

  /* Delete button on hover */
.delete-button:hover {
    background-color: #cc0000; /* Darker red on hover */
}


/*Todo Item search page styling

/* Search form styling */
.search-form {
    margin-bottom: 20px;
  }

.search-input {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.search-button {
    background-color: #4CAF50; /* Green background color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }

  /* Search results table */
.search-results {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

.search-results th, .search-results td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

.search-results th {
    background-color: #f2f2f2; /* Light gray background for table headers */
  }

.search-results tr:hover {
    background-color: #f5f5f5; /* Light gray background on hover */
  }


td, tr, h1, p {
    text-align: center;
}
